
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}






/* --------------------------------------------Headeing-Nav-Bar------------------------------ */
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 40px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}


.logo img {
  height: 1.5em; 
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  height: 3px;
  background: #333;
  border-radius: 2px;
}

/* ---------------------------------container-1------------------------- */

.container-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 40vh;
    margin-top: 2em;
    padding: 2em 2em 2em 4em;
    font-family:"Arial Narrow Bold", sans-serif;
}
.h-1{
    font-size: 1.3em;
    font-weight: 400;
    color: blue;
    margin-bottom: 1em;
}
h1{
    font-size: 3em;
}
/* ----------------------------------container-2--------------------------------- */

.container-2 {
  display: grid;
  grid-template-columns: repeat(3, 2fr); 
  gap: 15px;
  padding: 3em;
}


.item {
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 5px;
  border: none;

}


.thumb {
  object-fit: cover;
  height: 100vh;
}



.image-box {
  position: relative;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.image-box:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 137, 207, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
}

.image-box:hover .overlay {
  opacity: 1;
}

.overlay h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.overlay p {
  font-size: 1.2em;
}


/* --------------------------------------------container-3-------------------------------- */
.container-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  margin-top: 2em;
}
.container-3 button{
  height: 10vh;
  font-size: 17px;
  padding: 16px 32px 16px 32px;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: blue;
  transition: all 1s ease;
  margin-bottom: 4em;
}
button:hover{
  background-color: rgb(80, 80, 171);
  cursor: pointer;
}
.container-3 h1{
  font-size: 3em;
  margin-bottom: 1em;
}

/* -----------------------------------------container-4-------------------------------- */
.container-4{
   display: grid;
  grid-template-columns: repeat(4, 4fr); 
  justify-content: space-around;
  text-align: center;
  padding: 7em;
}
.img-box2{
  
  margin-top: 3em;
}
/* --------------------------------------container-5------------------------------------ */
.container-5{
  display: flex;
  width: 100%;
  height: 30vh;
  padding: 1em 4em;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  border-bottom: 2px solid #999;
}
.h-2{
  font-size: 2.5em;
  font-weight:700;
  color: white;
}
.container-5 button{
  height: 10vh;
  font-size: 17px;
  padding: 16px 32px 16px 32px;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: blue;
  transition: all 1s ease;
  margin-bottom: 4em;
}
/* -----------------------------------------------------------container-6----------------------- */
.container-6{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: #333;
}
.container-6>span{
  margin: 1em;
  font-size: 0.9em;
  color: #999;
}


/* ---------------------------------------------------------------mediaQueries--------------------------- */
@media screen and (max-width: 1024px) {
  .container-2{
    grid-template-columns: repeat(3, 2fr);
  }
  .container-4{
    grid-template-columns: repeat(3,2fr);
  }
}


@media screen and (max-width: 750px) {

  .container-2 {
    grid-template-columns: repeat(2, 2fr);
  }
   .container-4{
    grid-template-columns: repeat(2,2fr);
  }
}

@media screen and (max-width: 480px) {
  
.container-1{
  font-size: 0.3em;
}
.overlay p {
  font-size: 0.5em;
}
  .container-2 {
    grid-template-columns: repeat(1, 2fr);
  }
  .container-3{
    font-size: x-small;
  }
  .container-4{
    grid-template-columns: repeat(1,10px);
    padding: 0em;
    width:10vw;
    margin-top: 7em;
  }
  
  .container-5 {

    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    padding: 2em;
   
  }

  .container-5 button{
  height: 10vh;
  font-size: 20px;
  padding: 6px 12px 6px 12px;
  margin-bottom: 1em;
}
}

@media screen and (max-width: 180px) {

  .container-1,
  .container-3,
  .container-4 {
    display: flex;
    flex-wrap: wrap;
    width: 60px;
  }
  .container-1>.h-1{
  font-size: 10px;
  }
  .container-1>h1{
    font-size: 15px;
  }
  .container-2{
    grid-template-columns: repeat(1,1fr);
  }
    .container-3>h1{
      font-size: 15px;
    }
    .container-3>p{
      font-size: 10px;
    }
    .container-3>h1{
      width: 15vw;
    }
  .container-4 img{
    width: 45vw;
  }
  .overlay h1 {
    font-size: 1em;
    margin-bottom: 0.1em;
  }

  .overlay p {
    font-size: 0.5em;
  }

  .container-5 {

    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    padding: 1em 4em;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    border-bottom: 2px solid #999;
  }

  .h-2 {
    font-size: 5px;
    font-weight: 100;
    color: white;
  }
  .container-5 button{
  height: 10vh;
  font-size: 10px;
  padding: 6px 12px 6px 12px;
  margin-bottom: 1em;
}
}
/* ----------------------------------------@keyFrames----------------------------------------- */

.container-2 .image-box {

  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease;
  animation: slideUp 0.8s ease forwards;
}


.container-2 .image-box:nth-child(1)  { animation-delay: 0.2s; }
.container-2 .image-box:nth-child(2)  { animation-delay: 0.4s; }
.container-2 .image-box:nth-child(3)  { animation-delay: 0.6s; }
.container-2 .image-box:nth-child(4)  { animation-delay: 0.8s; }
.container-2 .image-box:nth-child(5)  { animation-delay: 1.0s; }
.container-2 .image-box:nth-child(6)  { animation-delay: 1.2s; }
.container-2 .image-box:nth-child(7)  { animation-delay: 1.4s; }
.container-2 .image-box:nth-child(8)  { animation-delay: 1.6s; }
.container-2 .image-box:nth-child(9)  { animation-delay: 1.8s; }
.container-2 .image-box:nth-child(10) { animation-delay: 2.0s; }
.container-2 .image-box:nth-child(11) { animation-delay: 2.2s; }
.container-2 .image-box:nth-child(12) { animation-delay: 2.4s; }
.container-2 .image-box:nth-child(13) { animation-delay: 2.6s; }
.container-2 .image-box:nth-child(14) { animation-delay: 2.8s; }
.container-2 .image-box:nth-child(15) { animation-delay: 3.0s; }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ---------------------------------------------------------------------------------- */